*.Rhistory
*.RData
*.lyx
*.txt
*.mat
*.dta
*.gph
*.fig
*.png
*.pdf
*.csv
*.xls
*.xlsx
*.log
*.html
*.dropbox
*.tex
*.bib
*.gz
*.sty
*.pptx
*.docx
*.rar
*.aux
*.lyx~
*.bbl
*.blg
*.ent
*.out
*.eps
*.cls
*.bst
*.toc
*.bak
*.lot
*.lof
*.zip
*.db
*.exe
*.pyc
*.cfg
*.jpg
*.rtf
